body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:repeating-radial-gradient(rgb(93, 149, 187), rgb(124, 124, 177));
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(216, 208, 92, 0.842);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#new-book {
    padding: 2rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgba(216, 208, 92, 0.842);
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    visibility: hidden;
}

table {
    width: 90%;
    border: solid;
    text-align: center;
}

input:invalid {
    border: solid red;
}

input:valid {
    border: solid green;
}

input {
    background-color: #ddd;
}

input:focus {
    background-color: #fff;
}